h2 {
  font-size: 32px;
  font-weight: bold;
}

.ticketpagecontainer {
  text-align: center;
}

.ticket {
  position: relative;
}

.ticketimage {
  margin: auto;
  max-width: 300px;
}

.picwrapper {
  flex-grow: 1;
  margin-top: 20px;
}

.piccontainer {
  width: 140px;
  height: 140px;
  border: 4px solid #24a0b5;
  border-radius: 12px;
  margin: auto 0;
}

.piccontainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ticketinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  font-size: 13px;
  max-width: 300px;
  height: 100%;
}

.ticketinfo p {
  margin: 0;
}

.ticketinfo h2 {
  font-family: "Road rage";
  font-size: 38px;
  margin: 0;
  padding: 0;
}

.infogridwrapper {
  flex-grow: 1;
  margin-bottom: 16px;
}

.infogrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  background: #08343c;
  border: 1px solid #133d44;
  word-break: break-word;
  border-radius: 8px;

  /* margin-bottom: 20px; */
}

.infogrid p {
  margin: 0;
  padding: 0;
}

.infogrid div {
  border: 1px solid #133d44;
  padding: 5px;
  border-radius: 8px;
  text-align: left;
}

.infogrid div p:first-of-type {
  font-color: #ffffff;
  opacity: 33%;
  font-size: 10px;
}

.infogrid div p:last-of-type {
  font-size: 12px;
  font-weight: 600;
}

.infogrid div:last-of-type {
  grid-column-start: -3;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: 5;
}

.barcode {
  margin-bottom: 20px;
}

.barcode .barcode img {
  width: auto;
  height: auto;
}

.buttons {
  display: flex;
  width: 100%;
  gap: 16px;
  margin-top: 16px;
}

.downloadticket,
.another {
  flex-basis: 100%;
  border-radius: 8px;
  padding: 12px 24px;
  font-family: "JejuMyeongjo";
  font-weight: 300;
  font-size: 16px;
}

.downloadticket {
  color: #24a0b5;
  background: #08252b;
  border: 1px solid #24a0b5;
}

.another {
  background: #24a0b5;
  border-radius: 8px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  border: none;
}

@media (max-width: 720px) {
  .ticketinfo h2 {
    margin: 5px;
  }

  .buttons {
    flex-direction: column;
    width: 100%;
  }

  .buttons button,
  .another {
    width: auto;
  }
}
