.notfoundcontainer {
  height: 100vh;
}
h1 {
  text-align: center;
  font-family: "Road rage";
  color: red;
  font-size: 67px;
}

.backhome {
  display: block;
  max-width: 100px;
  text-decoration: none;
  background: #24a0b5;
  color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  margin: auto;
  text-align: center;
}
